/*==================== HEADER ====================*/
header {
	height: 160px;
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 160px;
		width: 230px;
		margin: auto;
		i {
			margin-right: 10px;
			font-size: 50px;
			position: relative;
			top: 4px;
		}
		i, h1 {
			color: #fff;
		}
		.typigrapch {
			h1 {
				letter-spacing: -2px;
				margin-bottom: 0 !important;
				text-shadow: -4px 0 #273c75, 0 4px #273c75, 4px 0 #273c75, 0 -4px #273c75;
			}
			.lines {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				position: relative;
				z-index: -1;
				.line {
					position: relative;
					top: -4px;
					height: 2px;
					&.lightceleste {
						background-color: #25CCF7;
					}
					&.yellow {
						background-color: #FFC312;
					}
					&.puple {
						background-color: #833471;
					}
					&.orange {
						background-color: #EE5A24;
					}
				}
			}
		}
		
	}
}
/*==================== SEARCH ====================*/
#search {
	height: 50px;
	.container {
	position: relative;

	}
	input[type="search"]{
		width: 100%;
		position: relative;
		height: 50px;
		background: #122343;
		border: none;
		font-size: 10pt;
		color: #ddd;
		border-radius: 5px;
		padding: 10px 20px;
	}
	.btnSearch {
		right: 26px;	
		position: absolute;
		cursor: pointer;
		z-index: 1;
		background-color: transparent;
		border: none;
		color: #ddd;
		font-size: 34px;
		top: 2px;
	}
}