html { 
	height:100%; 
}
body{ 
	min-height:100%; 
	padding:0; 
	margin:0; 
	position:relative;
	
}
/*==================== HEADER ====================*/
header {
	height: 160px;
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 160px;
		width: 230px;
		margin: auto;
		i {
			margin-right: 10px;
			font-size: 50px;
			position: relative;
			top: 4px;
		}
		i, h1 {
			color: #fff;
		}
		.typigrapch {
			h1 {
				letter-spacing: -2px;
				margin-bottom: 0 !important;
				text-shadow: -4px 0 #273c75, 0 4px #273c75, 4px 0 #273c75, 0 -4px #273c75;
			}
			.lines {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				position: relative;
				z-index: -1;
				width: 175px;
				margin: auto;
				.line {
					position: relative;
					top: -4px;
					height: 2px;
					&.lightceleste {
						background-color: #25CCF7;
					}
					&.yellow {
						background-color: #FFC312;
					}
					&.puple {
						background-color: #833471;
					}
					&.orange {
						background-color: #EE5A24;
					}
				}
			}
		}
		
	}
}
/*==================== CONTENT MAIN ====================*/
#contentMain {
	min-height:100%;
	position: relative;
	&:after {
		content:''; display:block; height:280px;
	}
}
/*==================== SEARCH ====================*/
#search {
	height: 50px;
	margin-bottom: 40px;
	position: relative;
	.container {
		position: relative;
	}
	input[type="search"]{
		width: 100%;
		position: relative;
		height: 50px;
		background: #122343;
		border: none;
		font-size: 12pt;
		color: #ddd;
		border-radius: 5px;
		padding: 10px 20px;
	}
	.btnSearch {
		right: 20px;	
		position: absolute;
		cursor: pointer;
		z-index: 1;
		background-color: transparent;
		border: none;
		color: #ddd;
		font-size: 34px;
		top: -4px;
		&:hover {
			color: var(--yellow);
		}
	}
}
/*==================== WRAP ====================*/
#items_Books {
	.item {
		width: 160px;
		background-color: #fff;
		box-shadow: 0 2px 3px 0 rgba(0,0,0, 0.4);
		border-radius: 10px;
		position: relative;
		height: 100%;
		margin-bottom: 20px;
		.imgBook {
			img {
				height: 257px;
				width: 160px;			
			}
		}
		&:hover {
			.link-overlay {
				opacity: 1;
				transform: rotateX(0deg);
			}
		}
		.link-overlay {
			position: absolute;
			height: 257px;
			width: 100%;
			opacity: 0;
			top: 0;
			left: 0;
			display: flex;
			transform: rotateX(180deg);
			transition: 0.3s;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin: auto;
			background-color: rgba(17, 39, 76, 0.8);
			p, a {
				height: 30px;
				width: 70%;
				padding: 2px;
				text-align: center;
				color: #fff;
				margin: 0 4px;
			}
			p {
				background-color: #18BAB6;
				border-radius: 20px;
				font-weight: 700;
				margin-bottom: 6px;
			}
			a {
				background-color: #EE5A24;
				border-radius: 20px;
				&:hover {
					background-color: #5AB6FF;

				}
				i {
					font-size: 20px;
					position: relative;
					top: -1px;
				}
			}
		}
		.single-content {
			padding: 10px 20px;
			overflow-wrap: break-word;
			height: 100px;
			h3, h5, p {
				margin-bottom: 0;
			}
			a {
				color: var(--black);
			}
			h3 {
				font-weight: 700;
				font-size: 16px;
				margin-bottom: 4px;
			}
			h5 {
				font-weight: 300;
				font-size: 12px;
			}
		}
		.btnBuy {
			.svg-inline--fa {
				margin-right: 8px;
			}
		}
	}
		
}
/*==================== FOOTER ====================*/
footer {
   position: absolute;
   bottom:0;
   width:100%;
   height:60px;
   .line {
   		border-top: 1px solid rgba(250, 250, 250, 0.1);
   		display: block;
   		height: 2px;
   		width: 100%;
   		position: relative;
   		left: 0%;
   		right: 0%;
   		margin-bottom: 16px;
	}
	a {
		color: #ddd;
		&:hover {
			color: var(--blue);
		}
		.svg-inline--fa  {
			margin-right: 4px;
		}
	}
	span {
		margin: 0 6px;
	}
	.col-md-8 {
		text-align: left;
	}
	.col-md-4 {
		text-align: right;
	}
	[class*="col-"] {
   		color: #ddd;
	}
	@media (max-width: 576px) {
		.col-sm {
			text-align: center;
		}
	}

}